

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Portfolio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="style.css">


</head>

<body >
    

    
     <div class="container body-content">

         @RenderBody()
         
         <footer>
             <br /><br /><br /> <br /><br /><br /><br /><br /><br />
             <br /><br /><br /> <br /><br /><br /><br /><br /><br />
             <br /><br /><br /> <br /><br /><br /><br /><br /><br />
             <br /><br /><br /> <br /><br /><br /><br /><br /><br />
             <br /><br /><br /> <br /><br /><br /><br /><br /><br />
             <br /><br /><br /> <br /><br /><br /><br /><br /><br />

            <p>&copy; @DateTime.Now.Year - Developed by Henok Atsbaha</p>
         </footer>
     </div>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)
    
</body>
</html>